#include "glove65tb.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&gpio1 7  GPIO_ACTIVE_HIGH>
            , <&xiao_d 9  GPIO_ACTIVE_HIGH>
            , <&gpio1 5  GPIO_ACTIVE_HIGH>
            , <&xiao_d 8  GPIO_ACTIVE_HIGH>
            , <&gpio1 3  GPIO_ACTIVE_HIGH>
            , <&xiao_d 7  GPIO_ACTIVE_HIGH>
            ;
};

&left_encoder {
    status = "okay";
steps = <48>;//追加
};

//追加
&sensors {
  triggers-per-rotation = <12>;
};

&pinctrl {
  qdec_default: qdec_default {
    group1 {
      psels = <NRF_PSEL(QDEC_A, 1, 11)>,
              <NRF_PSEL(QDEC_B, 1, 10)>;
      bias-pull-up;
    };
  };
};

encoder: &qdec0 {
  status = "okay";
  steps = <48>;                 /* あなたは実ノッチ12、今 steps=48 で 1入力になってるのでこれでOK */
  led-pre = <0>;
  pinctrl-0 = <&qdec_default>;
  pinctrl-names = "default";
};


